<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>海涛科技</title>
	<link th:href="@{/static/css/common.css}" rel="stylesheet"></link>
	<script th:src="@{/static/js/lib/jquery-3.4.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/lib/common.js}" type="text/javascript"></script>
</head>
<body>
	<div layout:fragment="content"></div>
</body>
</html>